body{
    background-color: greenyellow;
}



#principal{
    width: 900px;
    height: auto;
    text-align: center;
    background-color: azure;
    border: solid blue 3px;
   


}


.menu{
    
    background-image: url("img/logo72.gif") ;
    background-size: 300px 250px;
    background-repeat:no-repeat;
    height: 250px;
    width: 900px;
        
    /*border: solid greenyellow 3px;*/
}
#conteudo{
    border: solid green 3px;
    width: 900px;
    height: auto;
    
}